@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --main-theme-color: #022E7A;
  --second-theme-color: #90B7FC;
  --grayish-text-color: #757575;
  --light-text-color: #FFF;
  --dark-text-color: #000;
  --star-color: #FFF500;
  --grayish-background-color: #F8F8F8;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  padding-left: 7vw;
  padding-right: 7vw;
  margin: auto;
}

main {
  margin-bottom: 20px;
}

h1, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h2.sec-heading {
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.error {
  font-size: 14px;
  color: rgb(255, 89, 89);
}

/* ------------------------------------------------ */
/* ----------------- start header ----------------- */
/* ------------------------------------------------ */

header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 20px 0;
  transition: padding .5s ease-out, background-color .3s ease-out;
}

header .header-content {
  display: flex;
  align-items: center;
}

header .header-content > * {
  display: flex;
  align-items: center;
}

header .header-content > *:first-child {
  margin-right: auto;
}
header .header-content > *:last-child {
  margin-left: auto;
}

header .header-content .brand {
  min-width: 170px;
  max-width: 250px
}

header .header-content nav .nav-wrapper{
  display: flex;
  gap: 20px;
}

header .header-content .brand .logo img {
  width: 100%;
  height: 56px;
}

header .header-content nav a{
  color: var(--dark-text-color);
  font-weight: 400;
  font-size: 16px;
  transition: color .3s ease;
}

header .header-content nav a.active div{
  border-bottom: 1px solid var(--main-theme-color);
}

header .header-content .account_status button{
  padding: 10px 15px;
  border: none;
  background-color: inherit;
  color: var(--main-theme-color);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  min-width: max-content;
}

header .header-content .account_status .sign-up_button {
  background: var(--main-theme-color);
  color: var(--light-text-color);
  border-radius: 4px;
}

header .menu {
  display:none;
  margin-left: 15px;
  cursor: pointer;
}


/* media queries */
@media (max-width: 970px) {
  header .header-content nav {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--light-text-color);
    padding: 20px 0;
    text-align: center;
  }

  header .header-content nav .nav-wrapper{
    flex-direction: column;
    top:50%;
    position: relative;
    transform: translateY(-50%);
  }

  header .header-content nav .nav-wrapper a.active div {
    border: none;
    position: relative;
  }

  header .header-content nav .nav-wrapper a.active div::before {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 1px;
    background-color: var(--main-theme-color);
    content: "";
    left: 50%;
    transform: translateX(-50%);
  }

  header .header-content nav .nav-wrapper > a {
    font-size: 25px;
    transition: background-color .3s ;
  }
  
  header .header-content nav .nav-wrapper > a div {
    padding: 20px 0;

  }

  header .header-content nav .nav-wrapper div:hover {
    background-color: var(--main-theme-color);
    color: var(--light-text-color) !important;
  }

  header .menu {
    display: block;
    position: relative;
    z-index: 9;
  }
}

@media (max-width: 590px) {
  header .header-content .brand {
    min-width:max-content;
  }
}


/* ------------------------------------------------ */
/* ----------------- end header ----------------- */
/* ------------------------------------------------ */


/* ------------------------------------------------ */
/* ----------------- start hero ----------------- */
/* ------------------------------------------------ */

.hero {
  background: url(./assets/backgrounds/doctors-background.jpg);
  min-height: 600px;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.449);
}

.hero .hero-content {
  margin-top: 100px;
  max-width: 70%;
}

.hero .hero-content .heading h1 {
  font-size: 46px;
  font-weight: 400;
  color: var(--grayish-text-color);
  margin-bottom: 10px;
}

.hero .hero-content .heading p {
  font-size: 16px;
}

.hero .hero-content .heading h1 .theme-colored {
  color: var(--second-theme-color);
}

.hero .hero-content .hero_features {
  list-style: none;
  padding-left: 0;
}

.hero .hero-content .hero_features li {
  padding: 5px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.hero .hero-content .hero_features li img {
  margin-right: 10px;
  width: 34px;
  color: var(--second-theme-color);
}

.hero .hero-content .hero_features li p {
  display: inline;
}

/* media queries */
@media (max-width: 650px) {
  .hero .hero-content {
    max-width: 90%;
  }
}

/* ------------------------------------------------ */
/* ----------------- end hero ----------------- */
/* ------------------------------------------------ */


/* ------------------------------------------------ */
/* ----------------- start features ----------------- */
/* ------------------------------------------------ */

.features {
  background-color: var(--grayish-background-color);
  display: flex;
}

.features .features-content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
  position: relative;
  top: -30px;
  max-width: 1095px;
}

.features .features-content .feature {
  flex: 1;
  box-shadow: 3px 3px 8px gray;
  height: calc((86vw / 3) - (40px / 3) - 3px);
  padding: 20px;
  border-radius: 2px;
  background-color: var(--light-text-color);
}

.features .features-content .feature > * {
  margin-bottom: 20px;
}

.features .features-content .feature img {
  width: 60px;
}

.features .features-content .feature .feature_head {
  margin-bottom: 20px;
  color: var(--second-theme-color);
}

.features .features-content .feature .description {
  color: var(--grayish-text-color)
}


@media (max-width: 994px) {
  .features .features-content {
    flex-direction:column;
    align-items: center;
  }
  .features .features-content .feature {
    max-width: 400px;
  }
}

@media (min-width: 1273px) {
  .features .features-content .feature {
    max-height: 348px;
  }

}

/* ------------------------------------------------ */
/* ----------------- end features ----------------- */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* ----------------- start doctor support ----------------- */
/* ------------------------------------------------ */

.doctor_supp {
  background-color: var(--grayish-background-color);
  padding: 20px 0;
}

.doctor_supp .supp-content {
  display: flex;
  gap: 5%;
}

.doctor_supp .supp-content > div{
  flex: 1
}

.doctor_supp .supp-content .side_img img {
  width: 100%;
  object-fit: cover;
}

.doctor_supp .supp-content .supp_text {
  margin-top: 30px;
}

.doctor_supp .supp-content .supp_text .description {
  line-height: 1.5;
  color: var(--grayish-text-color)
}

.doctor_supp .supp-content .supp_text .description br {
  margin-bottom: 12px;
}

/* ------------------------------------------------ */
/* ----------------- end doctor support ----------------- */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* ----------------- start top doctors ----------------- */
/* ------------------------------------------------ */

.top_doctors {
  margin: 30px 0;
}

.side_padding_container {
  padding-left: 7vw;
  padding-right: 10px;
}

.top_doctors .top_doctors-content {
  display: flex;
  gap: 20px;
}

.top_doctors .top_doctors-content .top_doctors_text {
  flex:1;
  padding-top: 40px;
}

.top_doctors .top_doctors-content .top_doctors_text .description {
  color: var(--grayish-text-color);
}

.top_doctors .top_doctors-content .top_doctors-details {
  flex: 3;
  display: flex;
  gap: 15px;
  align-items: flex-end;
}

.top_doctors .top_doctors-content .top_doctors-details .top_doctor {
  flex: 1;
}

.top_doctors .top_doctors-content .top_doctors-details .top_doctor .img_wrapper {
  width: 100%;
  height: calc(75vw /4 + 5vw);
  box-shadow: 0 0 7px var(--main-theme-color);
}

.top_doctors .top_doctors-content .top_doctors-details .top_doctor .img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}

.top_doctors .top_doctors-content .top_doctors-details .top_doctor .details{
  padding: 4px 15px;
  display: none;
}

.top_doctors .top_doctors-content .top_doctor.active .details {
  display: block !important;
}

.top_doctors .top_doctors-content .top_doctors-details .top_doctor .details .speciality-age {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--grayish-text-color)
}

.top_doctors .top_doctors-content .top_doctors-details .top_doctor .details >div:not(:last-child) {
  margin-bottom: 10px;
}

.top_doctors .top_doctors-content .top_doctors-details .top_doctor .details .age {
  color: #000;
  font-size: 17px;
}

.top_doctors .top_doctors-content .top_doctors-details .top_doctor .details .rate img{
  width: 20px;
}

/* media queries */

@media (max-width: 870px) {
  .top_doctors .top_doctors-content {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .top_doctors .top_doctors-content .top_doctors_text {
    text-align: center;
  }
  .top_doctors .top_doctors-content .top_doctors-details .top_doctor .img_wrapper{
    height: calc(100vw /4 + 8vw);
  }
}

@media (max-width: 633px) {
  .top_doctors .top_doctors-content {
    flex-wrap: wrap;
  }
  .top_doctors .top_doctors-content .top_doctors-details .top_doctor {
    width: 80%;
  }
}

/* ------------------------------------------------ */
/* ----------------- end top doctors ----------------- */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* ----------------- start specializations ----------------- */
/* ------------------------------------------------ */

.specs {
  padding-top: 100px;
  text-align: center;
}

.specs .spec_content .heading, .doctors .doctors_content .heading {
  margin-bottom: 30px;
}

.specs .spec_content .heading h2, .doctors .doctors_content .heading h2 {
  margin:10px 0 5px;
  font-size: 31px;
  font-weight: 300;
}

.specs .spec_content .heading p, .doctors .doctors_content .heading p{
  color: var(--grayish-text-color);
}

.specs .spec_content .specs-container {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.specs .spec_content .specs-container > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-basis: calc(50% - 15px);
}

.specs .spec_content .specs-container .right-side-specs {
  margin-top: 8%;
  
}

.specs .spec_content .specs-container .specialization {
  position: relative;
  height: calc((86vw - 25vw) /2);
  width: 100%;
  background-color: var(--grayish-background-color);
}

.specs .spec_content .specs-container .specialization img {
  width: 100%;
  height: 100%;
  object-position: 50%;
  object-fit: cover;
}

.specs .spec_content .specs-container .specialization .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.361);
}

.specs .spec_content .specs-container .specialization span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 27px;
  font-weight: 500;
  z-index: 7;
  color: var(--light-text-color);
}

@media (max-width: 700px) {
  .specs .spec_content .specs-container .right-side-specs {
    margin: 0
  }
  .specs .spec_content .specs-container > div {
    flex-basis: 100%;
  }

  .specs .spec_content .specs-container .specialization {
    height: calc((86vw - 25vw));
  }
}

/* ------------------------------------------------ */
/* ----------------- end specializations ----------------- */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* ----------------- start doctors ----------------- */
/* ------------------------------------------------ */

.doctors {
  padding-top: 100px;
  text-align: center;
}

.doctors .doctors_content .search-panel {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 50px;
  align-items: center;
  margin-bottom: 30px;
}

.doctors .doctors_content .search-panel .search-box {
  background-color: var(--main-theme-color);
  border-radius: 50px;
  overflow: hidden;
  padding: 10px 5px 10px 10px;
  display: flex;
  gap: 10px;
}

.doctors .doctors_content .search-panel .search-box svg {
  color: white;
}

.doctors .doctors_content .search-panel .search-box input{
  border: none;
  color: var(--light-text-color);
  width: 200px;
  background-color: inherit;
  outline: none;
}

.doctors .doctors_content .search-panel .sorting label {
  color: var(--second-theme-color);
}

.doctors .doctors_content .search-panel .sorting select{
  background-color: inherit;
  border: none;
  background-color: var(--grayish-background-color);
  border-radius: 50px;
  padding: 10px 5px;
}

.doctors .doctors_content .doctor-cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.doctors .doctors_content .doctor-cards .card {
  flex-basis: calc(25% - (30px / 4));
  background-color: var(--light-text-color);
  box-shadow: 0 0 4px gray;
  border-radius: 2px;
  padding: 10px;
  text-align: center;
}

.doctors .doctors_content .doctor-cards .card .img_wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 0 auto
}

.doctors .doctors_content .doctor-cards .card .img_wrapper img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: 50% top;
}

.doctors .doctors_content .doctor-cards .card .doctor-info .fullname {
  margin-top: 7px;
}

.doctors .doctors_content .doctor-cards .card .doctor-info .rate svg {
  width: 20px;
}

.doctors .doctors_content .doctor-cards .card .doctor-info .followers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.doctors .doctors_content .doctor-cards .card .doctor-info .followers svg{
  width: 25px;
  height: 25px;
}

.doctors .doctors_content .doctor-cards .card .doctor-info .profile_link {
  margin-top: 10px;
}

.doctors .doctors_content .doctor-cards .card .doctor-info .profile_link a {
  color: var(--second-theme-color);
}

/* media queries */
@media (max-width: 905px) {
  .doctors .doctors_content .doctor-cards .card {
    flex-basis: calc((100% /3) - (20px / 3));
  }
}

@media (max-width: 745px) {
  .doctors .doctors_content .doctor-cards .card {
    flex-basis: calc(50% - (10px / 2));
  }
}

@media (max-width: 500px) {
  .doctors .doctors_content .doctor-cards .card {
    flex-basis: 100%;
  }
}


/* ------------------------------------------------ */
/* ----------------- end doctors ----------------- */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* ----------------- start profile ----------------- */
/* ------------------------------------------------ */

.profile_background {
  margin-top: 99.53333px;
  background-image: url("./assets/backgrounds/close-up-doctor-front-bright-background_53419-4416.webp");
  background-color: var(--grayish-background-color);
  background-size: cover;
  background-position: 50% 50%;
  height: 350px;
  padding-bottom: 10px;
}

.profile_background .background-info_wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  padding: 0 7vw;
}

.profile_background .empty_left_box {
  width: 30vw;
  min-width: 300px;
  margin-right: 15px;
}

.profile_background .info-and-book_meeting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-basis: calc(100vw - 14vw - 30vw);
}

.profile_background .info-and-book_meeting .doctor_info h2 {
  font-size: 35px;
  margin: 0;
  font-weight: 300;
}

.profile_background .info-and-book_meeting .doctor_info .university {
  color: var(--grayish-text-color);
  font-weight: 200;
}

.profile_background .info-and-book_meeting .book-meeting button{
  background-color: var(--main-theme-color);
  padding: 12px 15px;
  color: var(--light-text-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 10px gray;
  transition: background-color .4s;
}

.profile_background .info-and-book_meeting .book-meeting button:hover {
  background-color: #001f54;
}

.doctor-details .container {
  display: flex;
}

.doctor-details .card-container {
  width: 30vw;
  color: var(--light-text-color);
  position: relative;
  top: -150px;
  min-width: max-content;
  margin-right: 15px;
  margin-bottom: 10px;
}

.doctor-details .card-container .doctor-card {
  background-color: var(--main-theme-color);
  width: 300px;
  margin: auto;
  box-shadow: 3px 3px 10px gray;
}

.doctor-details .doctor-card .profile_img {
  width:  100%;
  height: 400px;
  position: relative;
  border: 1px solid gray;
}

.doctor-details .doctor-card .profile_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 10%;
}

.doctor-details .doctor-card .profile_img .follow {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: var(--light-text-color);
  padding: 7px 15px;
  border-radius: 50px;
  color:#000;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.doctor-details .doctor-card .profile_img .follow svg {
  width: 18px;
}

.doctor-details .doctor-card .details_wrapper {
  padding: 30px 20px;
}

.doctor-details .doctor-card .details_wrapper .about {
  border-bottom: 1px solid;
}

.doctor-details .doctor-card .details_wrapper .about h4 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.doctor-details .doctor-card .details_wrapper .about p {
  font-size: 15px;
  color: rgb(190, 190, 190);
  font-weight: 400;
  margin-bottom: 20px;
}

.doctor-details .doctor-card .details_wrapper .followings {
  display: flex;
  margin-top: 20px;
  font-size: 16px;
  gap: 10px;
}

.doctor-details .doctor-card .details_wrapper .followings >div {
  text-align: center;
  width: calc(100% / 3 - (20px / 3));
  font-weight: 300;
  font-size: 13px;
}

.doctor-details .doctor-card .details_wrapper .followings >div .counter {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--second-theme-color);
}

.doctor-details .posts {
  margin-left: auto;
  width: calc(100vw - 14vw - 30vw);
}

.doctor-details .posts .posts_header{
  margin: 20px 0;
  font-weight: 300;
  font-size: 26px;
}

.doctor-details .posts .post{
  box-shadow: 0 3px 10px gray;
  margin-bottom: 20px;
  padding: 20px;
}

.doctor-details .posts .post .heading {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--grayish-text-color);
  margin-bottom: 8px;
}

.doctor-details .posts .post .heading .profile_pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 24px;
}

.doctor-details .posts .post .heading .profile_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% top;
  background-color: var(--grayish-background-color);
}

.doctor-details .posts .post .heading .fullname {
  font-size: 22px;
}

/* media queries */

@media (max-width: 717px) {
  .profile_background .info-and-book_meeting {
    flex-direction: column;
    gap: 10px
  }

  .profile_background .background-info_wrapper, .doctor-details .container {
    padding: 0 3vw;
  }

}

@media (max-width: 581px) {
  .doctor-details .container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .doctor-details .posts {
    margin:0 auto; 
  }
  .doctor-details .card-container {
    top: 0
  }
  .profile_background .empty_left_box {
    display: none;
  }
  .doctor-details .posts .posts_header {
    text-align: center;
  }
  .doctor-details .posts {
    width: 100%;
  }
}


/* ------------------------------------------------ */
/* ----------------- end profile ----------------- */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* ----------------- start appointments ----------------- */
/* ------------------------------------------------ */

.appointments {
  margin: 99.53333px 0 20px;
  min-height: 50vh;
}

.appointments .appoin_content .heading h2{
  font-size: 30px;
  font-weight: 400;
}

.appointments .appoin_content .appoin-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
}

.appointments .appoin_content .appoin-cards .appointment {
  box-shadow: 0 0 7px gray;
  flex-basis: calc((100% /3) - (8vw / 3) - 1px);
  padding: 20px;
  border-radius: 10px;
}

.appointments .appoin_content .appoin-cards .appointment .wrapper {
  display: flex;
}

.appointments .appoin_content .appoin-cards .appointment .heading {
  margin-bottom: 20px;
}

.appointments .appoin_content .appoin-cards .appointment .details {
  flex-grow: 3;
}

.appointments .appoin_content .appoin-cards .appointment .options {
  align-self: flex-end;
  color: var(--main-theme-color);
  font-weight: 500;
  cursor: pointer;
}

.appointments .appoin_content .appoin-cards .appointment .details > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.appointments .appoin_content .appoin-cards .appointment .details > div:not(:last-child) {
  margin-bottom: 10px;
}

.appointments .appoin_content .appoin-cards .appointment .details > div p {
  color: var(--grayish-text-color);
}

/* media queries */
@media (max-width: 950px) {
  .appointments .appoin_content .appoin-cards .appointment {
    flex-basis: calc(50% - 4vw);
  }
}

@media (max-width: 633px) {
  .appointments .appoin_content .appoin-cards .appointment {
    flex-basis: 100%;
  }
}


/* ------------------------------------------------ */
/* ----------------- end appointments ----------------- */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* ----------------- start footer ----------------- */
/* ------------------------------------------------ */

footer {
  padding: 30px 0;
  background-color: var(--main-theme-color);
  color: var(--light-text-color)
}

footer .footer_content .sections{
  display: flex;
  gap: 20px;
}

footer .footer_content .sections >div {
  flex: 1;
}

footer .footer_content .sections >div .section {
  margin-bottom: 30px;
}

footer .footer_content .sections >div .section h3 {
  color: var(--second-theme-color);
  font-size: 26px;
  font-weight: 400;
}

footer .footer_content .sections >div .section ul li {
  margin-bottom: 10px;
}

footer .footer_content .sections >div .section ul li a{
  color: var(--light-text-color);
  text-decoration: none;
}

footer .footer_content .buttom_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer_content .buttom_footer .logo {
  width: 60px;
}

footer .footer_content .buttom_footer .logo img {
  width: 100%;
}

footer .footer_content .buttom_footer .social-media ul{
  display: flex;
  gap: 15px;
}

footer .footer_content .buttom_footer .social-media ul li {
  cursor: pointer;
}


/* ------------------------------------------------ */
/* ----------------- end footer ----------------- */
/* ------------------------------------------------ */


/* ------------------------------------------------ */
/* ----------------- start sign-in, sign-up ----------------- */
/* ------------------------------------------------ */

.background {
  width: 100%;
  height: 100vh;
  background-color: rgb(237, 238, 238);
}

.regis_box {
  box-shadow: 0 0 20px gray;
  width: calc(100% - 6vw);
  min-height: 90vh;
  margin:auto;
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* max-width: max-content; */
}

.regis_box > div {
  padding: 10vh 6vw
}

.regis_box .left-section {
  flex: 1.4;
  background-color: #FFF;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.649);
}

.regis_box .left-section .content > * {
  margin-bottom: 30px;
}

.regis_box .left-section .content .brand-statement {
  color: var(--grayish-text-color);
  font-weight: 600;
}

.regis_box .left-section .content .social-media_section {
  margin-top: 100px;

}

.regis_box .left-section .content .social-media ul{
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.regis_box .left-section .brand img {
  width: 100%;
  max-width: 400px;
}

.regis_box .right-section {
  flex:1;
  background-color: var(--main-theme-color);
  color: var(--light-text-color);
}

.regis_box .right-section .heading {
  margin-bottom: 40px;
}

.regis_box .right-section .heading h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}

.regis_box .right-section .heading p {
  font-weight: 400;
  color: var(--second-theme-color);
}

.regis_box .right-section .regis_form > div:not(.button_wrapper) {
  margin-bottom: 30px;
}

.regis_box .right-section .regis_form > div:not(.gender, .dob) {
  display: flex;
  gap: 30px;
  align-items: center;
}

.regis_box .right-section .regis_form .gender .gender_wrapper, .regis_box .right-section .regis_form .dob_wrapper  {
  display: flex;
  gap: 30px;
  flex: 1;
}

.regis_box .right-section .regis_form > div >div {
  width: 100%;
}

.regis_box .right-section .regis_form > div input {
  border: none;
  border-bottom: 1px solid #FFF;
  color: var(--light-text-color);
  background-color: inherit;
  width: 100%;
  font-size: 17px;
  padding-bottom: 3px;
  outline: none;
}

.regis_box .right-section .regis_form .dob span, .regis_box .right-section .regis_form .gender span {
  min-width: max-content;
  color: #8b9fc2;
}

.regis_box .right-section .regis_form .gender .selected_gender{
  display: flex;
  gap: 10px;
}

.regis_box .right-section .regis_form .button_wrapper {
  justify-content: center;
}

.regis_box .right-section .regis_form .button_wrapper .regis_button {
  padding: 10px;
  width: 100%;
  background-color: var(--second-theme-color);
  border: none;
  box-shadow: 0 0 5px #000;
  border-radius: 3px;
  font-weight: 400;
  font-size: 15px;
  transition: background-color .3s;
  cursor: pointer;
  max-width: 350px;
}


.regis_box .right-section .regis_form .button_wrapper .regis_button:hover {
  background-color: #6e9cec;
}

.regis_box .right-section .regis_link {
  text-align: center;
  margin-top: 10px;
  font-weight: 200;
  font-size: 15px;
  color: rgb(168, 168, 168);
}

.regis_box .right-section .doctor_sign-up {
  font-size: 12px;
  margin-top: 10px;
}

.regis_box .right-section .regis_link a {
  color: var(--second-theme-color);
  font-weight: 400;
}

/* media queries */
@media (max-width: 670px) {
  .regis_box {
    min-height: max-content;
  }
  .regis_box .left-section {
    display: none;
  }
}

/* ------------------------------------------------ */
/* ----------------- end sign-in, sign-up ----------------- */
/* ------------------------------------------------ */

