@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --main-theme-color: #022E7A;
  --second-theme-color: #90B7FC;
  --grayish-text-color: #757575;
  --light-text-color: #FFF;
  --dark-text-color: #000;
  --star-color: #FFF500;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  padding-left: 7vw;
  padding-right: 7vw;
  margin: auto;
}

h1, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h2.sec-heading {
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

/* ------------------------------------------------ */
/* ----------------- start header ----------------- */
/* ------------------------------------------------ */

header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

header .header-content {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

header .header-content > * {
  display: flex;
  /* justify-content: center; */
}

header .header-content > *:first-child {
  margin-right: auto;
}
header .header-content > *:last-child {
  margin-left: auto;
}

header .header-content .brand {
  min-width: 200px;
  max-width: 300px
}

header .header-content nav {
  gap: 15px;
}

header .header-content .brand .logo img {
  width: 100%;
}

header .header-content nav >div a{
  color: var(--dark-text-color);
  text-decoration: none;
  font-weight: 400;
}

header .header-content .account_status button{
  padding: 10px 15px;
  border: none;
  background-color: inherit;
  color: var(--main-theme-color);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}

header .header-content .account_status .sign-up_button {
  background: var(--main-theme-color);
  color: var(--light-text-color);
  border-radius: 4px;
}

/* ------------------------------------------------ */
/* ----------------- end header ----------------- */
/* ------------------------------------------------ */


/* ------------------------------------------------ */
/* ----------------- start homepage ----------------- */
/* ------------------------------------------------ */

.hero {
  background: url(./assets/backgrounds/doctors-background.jpg);
  min-height: 600px;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.449);
}

.hero .hero-content {
  margin-top: 100px;
  max-width: 70%;
}

.hero .hero-content .heading h1 {
  font-size: 46px;
  font-weight: 400;
  color: var(--grayish-text-color);
  margin-bottom: 10px;
}

.hero .hero-content .heading p {
  font-size: 16px;
}

.hero .hero-content .heading h1 .theme-colored {
  color: var(--second-theme-color);
}

.hero .hero-content .hero_features {
  list-style: none;
  padding-left: 0;
}

.hero .hero-content .hero_features li {
  padding: 5px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.hero .hero-content .hero_features li img {
  margin-right: 10px;
  width: 34px;
  color: var(--second-theme-color);
}

.hero .hero-content .hero_features li p {
  display: inline;
}

/* ------------------------------------------------ */
/* ----------------- end homepage ----------------- */
/* ------------------------------------------------ */