@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --main-theme-color: #022E7A;
  --second-theme-color: #90B7FC;
  --grayish-text-color: #757575;
  --light-text-color: #FFF;
  --dark-text-color: #000;
  --star-color: #FFF500;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  padding-left: 7vw;
  padding-right: 7vw;
  margin: auto;
}

h1, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h2.sec-heading {
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

/* ------------------------------------------------ */
/* ----------------- start header ----------------- */
/* ------------------------------------------------ */

header {

}

header .header-content {
  display: flex;
  padding: 20px;
  align-items: center;
}

header .header-content > * {
  display: flex;
  /* justify-content: center; */
}

header .header-content > *:first-child {
  margin-right: auto;
}
header .header-content > *:last-child {
  margin-left: auto;
}

header .header-content .brand {
  min-width: 200px;
  max-width: 300px
}

header .header-content nav {
  gap: 15px;
}

header .header-content .brand .logo img {
  width: 100%;
}

header .header-content nav >div a{
  color: var(--dark-text-color);
  text-decoration: none;
  font-weight: 400;
}

header .header-content .account_status button{
  padding: 10px 15px;
  border: none;
  background-color: inherit;
  color: var(--main-theme-color);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}

header .header-content .account_status .sign-up_button {
  background: var(--main-theme-color);
  color: var(--light-text-color);
  border-radius: 4px;
}